*, *:before, *:after {
  box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #2a9fa9;
    background-image: url('{background_image}');
    color: #eee;
    font-family: 'Ubuntu', 'Arial','sans-serif';
    padding: 1em;
}

body > div {
    margin: auto;
    max-width: 60em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #2a9fa9;
}

button, input, label {
    font-size: 90%;
}

button {
    background-color: rgb(230, 230, 230);
    border-width: 1px;
    min-height: 2em;
    margin: 0.2em;
}

button:hover {
    background-color: rgb(240, 240, 240);
}

input {
    border-width: 1px;
}

.error, .message {
    border-radius: 0.2em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.error {
    background-color: rgba(128, 0, 0, 0.9);
    color: rgb(255, 255, 255);
}

.message {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(75, 75, 75);
}

.log-in-link-div {
    align-items: center;
    background-color: rgba(0, 19.2, 20.4, 0.9);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    min-height: 10em;
    text-align: center;
}

.log-in-link-div a {
    color: #2a9fa9
}

.log-in-link-div a:hover {
    color: #4abfc9
}

#failure {
    color: darkred;
    font-weight: 500;
    margin-top: 0em;
    margin-bottom: 1em;
    text-align: center;
}

#whole-page-div > div > #failure {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.7em;
}

#whole-page-div > div > #message {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(75, 75, 75);
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 0em;
    padding: 0.7em;
    text-align: center;
}

.login-div {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.1em;
    color: rgb(50, 50, 50);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    max-width: 40em;
    padding: 0.7em;
}

.login-div .login-message {
    font-weight: 500;
    margin-top: 0em;
    margin-bottom: 1em;
    text-align: center;
}

.login-div form {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
}

.login-div form label {
    text-align: right;
    margin-right: 0.2em;
}

.login-div form input {
    height: 2em;
    margin: 0.2em 0em;
    width: 100%;
}

.login-div #remember-span {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0.5em;
}

.login-div #remember-span input {
    width: inherit;
    height: inherit;
    margin-right: 0.3em;
}

.login-div form button {
    grid-column-end: span 2;
    margin: 0.2em 0em;
}

.login-div #cookie-warning {
    font-size: 70%;
    font-style: italic;
    margin-bottom: 0em;
    margin-top: 0.7em;
    opacity: 0.7;
    text-align: center;
}

#user-header-nav {
    align-items: center;
    background-color: white;
    border-radius: 0.1em;
    box-shadow: rgba(0, 0, 0, 0.5) 0.08em 0.08em;
    color: rgb(50, 50, 50);
    display: flex;
    font-size: 90%;
    margin-bottom: 1em;
    min-height: 2.2em;
    padding: 0.4em 0.6em;
    text-align: right;
}

#user-header-nav #home-span {
    flex-grow: 1;
    text-align: left;
}

#user-header-nav button {
    font-size: 60%;
    height: 0.5em;
    margin-bottom: 0em;
    margin-right: 1em;
    margin-top: 0em;
}

#plain-header-nav {
    align-items: center;
    background-color: white;
    border-radius: 0.1em;
    box-shadow: rgba(0, 0, 0, 0.5) 0.08em 0.08em;
    color: rgb(50, 50, 50);
    display: flex;
    font-size: 90%;
    margin-bottom: 1em;
    min-height: 2.2em;
    padding: 0.4em 0.6em;
}

#new-list-form {
    background-color: rgba(0, 19.2, 20.4, 0.8);
    border-radius: 0.1em;
    padding: 0.2em;
    text-align: center;
}

#new-list-form input {
    height: 2em;
    margin: 0.5em 0em 0em 0.5em;
    width: auto;
}

#new-list-form button {
    margin: 0.5em 0em 0.5em 0.5em;
}

#choose-list-div {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.1em;
    color: rgb(50, 50, 50);
    margin-top: 1em;
    padding: 0.7em;
    text-align: center;
}

#choose-list-div p {
    margin: 0em auto 0.2em auto;
    font-weight: 500;
}

#choose-list-div ul {
    display: block;
    list-style-type: none;
    margin: 0.8em auto 0em auto;
    padding: 0em;
    text-align: left;
    width: max-content;
    min-width: 80%;
}

#choose-list-div a {
    color: #054642;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.2em;
    margin-bottom: 0.2em;
    display: inline-block;
    width: 100%;
}

#list-items-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.1em;
    color: rgb(50, 50, 50);
    margin: 0.8em auto 0em auto;
    padding: 0.7em;
    text-align: center;
}

#list-items-form p {
    margin: 0em;
    font-weight: 500;
}

#list-items-form ul {
    list-style-type: none;
    margin: 0.8em auto 0em auto;
    padding: 0em;
}

#list-items-form li {
    display: grid;
    grid-template-columns: auto 1fr;
}

#save-buttons {
    align-items: center;
    display: flex;
    text-align: right;
    padding-top: 0.5em;
}

#save-buttons #save-to-add-more {
    flex-grow: 1;
    font-size: 80%;
    font-style: italic;
    margin-left: 3.5em;
    text-align: left;
}

#save-buttons button {
    margin-left: 0.5em;
}

#do-rename-list-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.1em;
    color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    margin: 0.8em auto 0em auto;
    padding: 0.7em;
    text-align: center;
}

#do-rename-list-form #rename-button {
    text-align: right;
    margin-top: 0.5em;
}

.secondary-section {
    background-color: rgba(0, 19.2, 20.4, 0.8);
    border-radius: 0.1em;
    margin-top: 1em;
    padding: 0.7em;
}

.secondary-section p {
    margin-top: 0em;
    margin-bottom: 0.3em;
    text-align: center;
}

#change-password-form {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 0.1em;
}

#change-password-form label {
    text-align: right;
    margin-right: 0.2em;
}

#change-password-form span {
    grid-column-end: 3;
    grid-column-start: 1;
    text-align: right;
}

#change-password-form span button {
    margin-right: 0em;
    margin-bottom: 0em;
}

#delete-user-form button {
    color: rgb(150, 0, 0);
}

#delete-list-form button {
    color: rgb(150, 0, 0);
}

.info-div {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.1em;
    color: rgb(50, 50, 50);
    margin: 0.8em auto 0em auto;
    padding: 0.7em;
}

.info-container-div h1 {
    font-size: 150%;
    margin-bottom: 0.5em;
    margin-top: 0em;
}

.info-container-div .info-div {
    overflow: auto;
}

.info-container-div .info-div a {
    color: #1a6f89;
}

.info-container-div .info-div a:hover {
    color: #2a9fa9;
}

#internal-error-div {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.1em;
    color: rgb(50, 50, 50);
    margin: 0.8em auto 0em auto;
    padding: 0.7em;
}

#internal-error-div h1 {
    font-size: 150%;
    margin-bottom: 0.5em;
    margin-top: 0em;
}

#internal-error-div a {
    color: #1a6f89;
}

#internal-error-div a:hover {
    color: #2a9fa9;
}

footer {
    background-color: rgba(41.0, 69.9, 73.6, 0.9);
    color: rgb(200, 200, 200);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 60em;
    padding: 0.5em;
}

footer p {
    font-size: 90%;
    margin-top: 0em;
    margin-bottom: 0em;
}

footer a {
    color: rgb(174.5, 240.1, 245.7);
}
